//site structure
$site-width: 1280px;
$hero-height: 500px;
$site-nav-width: 980px;

//site colors
$site-white: #fff ;
$site-blue: #79addc;
$site-black: #000 ;

//tour banners
$tour-banner-height: 304px;
$tour-bannner-width: 236px;


//tour images
$tour-image-width: 298px;
$tour-image-height: 347px;
//button widths